<aside id="sidebar">
	<nav>
		<ul>
			<li>
				<%= link_to "All Events", events_path %>
			</li>
			<% if current_user_admin? %>
			<li>
				<%= link_to "Add New Event", new_event_path %>
			</li>
			<% end %>
		</ul>
	</nav>
</aside>